@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Syncopate');

*{
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*  Aquí el body */

body{
	font-family: 'open sans';
	color: #292929;
}

/*  Aquí el div-contenedor */

#contenedor{
	max-width:100%;
	margin:auto;
}

/* Aquí empieza Estilo de TODO EL MENÚ --------------------------------------------------------- */
.wrap{
	width: 90%;
	max-width: 1150px;
	margin: auto;
}
header{
	width: 100%;
	position: fixed;
	z-index: 50;
}
header .wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}
header .btn-menu{
	font-size: 30px;
	cursor: pointer;
}

/*---- ESTILO de TODO Full Menu ----*/

.full-menu{
	position: fixed;
	top: 0;
	left: -100%;
	
	width: 100%;
	height: 100vh;
	background: #292929;
	
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	
	z-index: 20;
}
.full-menu .wrap{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.full-menu .wrap .navegacion{
	flex-basis: 0;
	flex-grow: 1;
	
	display: flex;
	flex-direction: column;
}
.full-menu .wrap .info-usuario{
	flex-basis: 0;
	flex-grow: 1;
	text-align: center;
}
.full-menu .navegacion ul{
	list-style: none;
}
.full-menu .navegacion ul li{
	margin: 20px 0px;
}
.full-menu .navegacion ul li a{
	font-family: 'Century Gothic';
	text-decoration: none;
	font-size: 45px;
	color: #fff;
}
.full-menu .navegacion .social-items a{
	text-decoration: none;
	font-size: 35px;
	color: #fff;
	margin: 25px 20px 0px 5px;
}
.full-menu .navegacion ul li a:hover ,.full-menu .navegacion .social-items a:hover {
	color: aqua;
}
.logo-arquit{
	height: 80px;
	transition: 1s;
}
.menu-principal li{
	box-shadow: 3px 0 rgba(255,255,255,.2) inset;
	padding-left: 1.5em;
	transition: 1s;
}
.menu-principal li:hover{
	box-shadow: 280px 0 rgba(255,255,255,.2) inset;
	transition: 1s;
}

/* Estilos para contenedor de Usuario */
.info-usuario{
	color: black;
}
.contenedor-usuario{
	max-width: 280px;
	text-align: center;
	padding: 20px;
	margin: auto;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 40px 5px black;
}
.contenedor-usuario h2{
	font-size: 25px;
	margin-top: -70px;
	text-align: center;
	font-weight: bold;
}
.sub-titulo{
	color: #333333;
	font-weight: 550;
	font-size: 17px;
	margin-bottom: 15px;
	text-decoration: underline;
	text-align: center;
	font-family: 'Century Gothic';
}
.testimonio{
	font-size: 12px;
	color: #3B3B3B;
	font-family: 'Century Gothic';
	text-align: justify;
}
.foto-usuario{
	background-image: url(../imagenes/icono-usuario-color.png);
	background-size: cover;
	height: 120px;
	width: 120px;
	margin: auto;
	border-radius: 50%;
	position: relative;
	top: -80px;
	box-shadow: 0px 0px 30px -6px black;
}
.icon-redes{
	width: 50px;
}
/* Aquí termina Estilo de TODO EL MENÚ --------------------------------------------------------- */



/*  Aquí comienza sección de "Nuestros Servicios" */
.contenedor-servicios{
	margin: 30px 0;
}
.imagen-servicio{
	max-width: 100%;
	display: block;
	margin: auto;
}
.buttom{
	display: block;
	margin: auto;
}
.titulo-servicio{
	text-align: center;
	font-size: 22px;
}
.parrafo-servicio{
	text-align: justify;
	font-family: 'Century Gothic';
}
.servicio-titulo1{
	margin-top: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Syncopate', sans-serif;
}
.servicio-titulo2{
	color: rgba(79,79,79,1.00);
	font-family: 'Century Gothic';
	text-align: center;
	margin-bottom: 5px;
}
/*  Aquí termina sección de "Nuestros Servicios" */


/* Aquí comienza estilos de motivos y opiniones ------------------------------------------------------ */
.seccion-motivo{
	margin: 10px 0px;
}
.seccion-opinion{
	margin-top: 30px;
}
.motivo-titulo1{
	font-size: 20px;
	font-weight: bold;
	font-family: 'Century Gothic';
}
.motivo-titulo2{
	font-family: 'Century Gothic';
	color: rgba(79,79,79,1.00);
	font-size: 15px;
	margin: 2px;
}
.titulo-motivo{
	font-size: 18px;
	font-family: 'Century Gothic';
	font-weight: bold;
	color: brown;
}
.parrafo-motivo,.opinion{
	font-family: 'Century Gothic';
	color: rgba(79,79,79,1.00);
	font-size: 15px;
	margin: 12px auto;
	text-align: justify;
}
.nombre{
	font-size: 15px;
	font-weight: 600;
	font-family: 'Century Gothic';
}
/* Aquí termina estilos de motivos y opiniones ------------------------------------------------------ */


/* Aquì comienza seccion logo-cliente*/
.contenedor-logo{
	padding: 6px;
	margin: 20px auto;
}
.logocliente{
	display: block;
	margin: auto;
}
.titulo-logo{
	padding-top: 25px;
	text-align: center;
	font-family: 'Syncopate', sans-serif;
	font-size: 40px;
}
.buttom{
	display: block;
	margin: auto;
}
/* Aquì TERMINA seccion logo-cliente*/


/* Aquí comienza el Footer */
.footer-negro{
	background: #292929;
	color: white;
}
.seccion-footer1{
	margin-top: 15px;
}
.contenedor-icondato{
	margin: auto 200px;
}
.seccion-icondato{
	overflow: hidden;
	align-content: center;
}
.iconos-peque{
	margin-left: 100px;
}
.iconos-peque,.datito{
	float: left;
	margin-left: 6px;
	font-family: 'Century Gothic';
}
.footer-derechos{
	margin: auto 40px;
	text-align: center;
	font-size: 15px;
	font-family: 'Century Gothic';
	color: azure;
}
.h2{
	font-family: 'Century Gothic';
	color: antiquewhite;
	font-size: 30px;
	margin: 12px auto;
	text-align: center;
}
.logos{
	text-align: center;	
}
.footer-redes{
	margin: 10px;
}
/*Aquí es donde termina el footer*/



/*------------------------------------------- main y menu responsive -------------------------------------------*/

@media screen and (max-width: 750px){
	.main{
		transition: 2s;
	}
	
	/* Full menu */
	.full-menu .navegacion ul li a{
		font-size: 33px;
		transition: 2s;
	}
	
	.full-menu .info-usuario p{
		font-size: 14px;
		font-weight: 400;
		transition: 2s;
	}
	.logo-arquit{
		width: 40%;
		transition: 1s;
	}
	.menu-principal li:hover{
		box-shadow: 185px 0 rgba(255,255,255,.2) inset;
		transition: 1s;
	}
}
@media screen and (max-width: 540px){
	.full-menu .info-usuario{
		display: none;
	}
	.full-menu .navegacion{
		justify-content: center;
		text-align: center;
	}
	.full-menu .navegacion .social-items a{
		margin: 0 15px;
	}
	.logo-arquit{
		width: 50%;
		height: 80px;
		transition: 2s;
	}
	.menu-principal li:hover{
		box-shadow: 300px 0 rgba(255,255,255,.2) inset;
		transition: 1s;
	}
	.container-fluid-slider{
		display: none;
	}
}
@media screen and (max-width: 450px){
	.main{
	}	
	.logo-arquit{
		width: 85%;
		height: 80px;
		transition: 2s;
	}
	.menu-principal li:hover{
		box-shadow: 300px 0 rgba(255,255,255,.2) inset;
		transition: 1s;
	}
}
@media screen and (max-width: 340px){
	.main{
	}
	.logo-arquit{
		width: 85%;
		height: 80px;
		transition: 2s;
	}
	.btn-menu{
		margin: 0 0 6px 0;
	}
	.menu-principal li:hover{
		box-shadow: 260px 0 rgba(255,255,255,.2) inset;
		transition: 1s;
	}
}







